$primary-color: #5c9dff;
$secondary-color: #87ceeb;
$accent-color: #044fbf;
$btn-color: #0d6efd;
$header-height: 7vh;
$hero-height: calc(100vh - $header-height);
$p-font-size: clamp(1.6rem, 1.5vw, 1.8rem);
$h1-font-size: clamp(3rem, 3vw, 6rem);
$h2-font-size: clamp(2.5rem, 2.3vw, 4.5rem);
$h3-font-size: clamp(2rem, 1.7vw, 3.2rem);
$h4-font-size: clamp(1.8rem, 1.5vw, 2.7rem);
$h5-font-size: clamp(1.6rem, 1.5vw, 2.2rem);
$h6-font-size: clamp(1.6rem, 1.5vw, 2rem);
