$primary-color: #002480;
$secondary-color: #094efe;
$accent-color: #001751;
// $primary-color: #840202;
// $secondary-color: #e84343;
// $accent-color: #7c0000;
$h1-font-size: clamp(5rem, 4vw, 7rem);
$h2-font-size: clamp(2.5rem, 2.3vw, 5rem);
$h3-font-size: clamp(2rem, 1.9vw, 3.2rem);
$h4-font-size: clamp(1.8rem, 1.6vw, 2.2rem);
$p-font-size: clamp(1.8rem, 1.6vw, 2.2rem);
$h5-font-size: clamp(1.5rem, 1.3vw, 2rem);
$h6-font-size: clamp(1.3rem, 1.1vw, 1.8rem);
