.sticky-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
}
@media (width <= 991px) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    background-color: #002480;
  }
}

#index #hero {
  background: url("../img/new-landing.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;
}
@media (width <= 991px) {
  #index #hero {
    height: auto;
  }
}
#index #why-us .row:nth-of-type(2) .col {
  text-align: center;
  display: flex;
}
#index #why-us .row:nth-of-type(2) .col .card i {
  color: #002480;
  font-size: clamp(2.5rem, 2.3vw, 5rem);
}
#index #why-us .row:nth-of-type(2) .col .card h3 {
  margin: 1rem 0;
}
#index #about-us .row {
  align-items: center;
}
#index #about-us .row img {
  width: clamp(100px, 100%, 400px);
  height: clamp(100px, 100%, 400px);
}
#index #about-us .row .col {
  margin: 1rem 0;
}
#index #about-us .row .col p {
  text-align: center;
  font-weight: 600;
  font-size: clamp(2rem, 1.9vw, 3.2rem);
}
#index #how-it-works-top {
  background-color: #002480;
  color: #fff;
  padding-bottom: 0;
}
#index #how-it-works-top p {
  margin: 0;
}
#index #how-it-works-bottom {
  padding-top: 0;
}
#index #how-it-works-bottom img {
  width: clamp(100px, 100%, 400px);
  height: clamp(100px, 100%, 400px);
}
#index #how-it-works-bottom .nav-link {
  background-color: #002480;
}
#index #how-it-works-bottom .nav-tabs .nav-link.active {
  background-color: #fff;
  color: #000;
}
#index #how-it-works-bottom .nav-tabs .nav-link {
  color: #fff;
  border-radius: 0px;
}
#index #how-it-works-bottom .nav-tabs .nav-link p {
  text-align: center;
}
#index #testimonials .swiper-slide {
  height: auto;
}
#index #testimonials .swiper-pagination-bullet-active {
  background-color: #002480;
}
#index #testimonials .card {
  background: linear-gradient(90deg, #002480 7%, #fff 7%);
  height: 100%;
  position: relative;
}
@media (width <= 576px) {
  #index #testimonials .card {
    background: none;
  }
}
#index #testimonials .card .bi-quote {
  color: rgba(9, 78, 254, 0.1215686275);
  position: absolute;
  font-size: clamp(10rem, 20vw, 20rem);
  bottom: 0;
  right: 0;
}
#index #testimonials .card .card-body {
  text-align: center;
}
#index #testimonials .card .card-body img {
  width: clamp(80px, 100%, 120px);
  height: clamp(80px, 100%, 120px);
  border-radius: 50%;
}
#index #testimonials .card .card-body h3 {
  font-size: clamp(1.8rem, 1.6vw, 2.2rem);
}
#index #testimonials .card .card-body h4 {
  font-size: clamp(1.3rem, 1.1vw, 1.8rem);
  color: #595959;
}
#index #testimonials .card .card-body .ratings {
  text-align: center;
  font-size: clamp(1.3rem, 1.1vw, 1.8rem);
  color: #ffa534;
  line-height: 1;
}
#index #testimonials .card .card-body hr {
  color: #002480;
}
#index #index-services {
  text-align: center;
}
#index #index-services .carousel .carousel-inner .carousel-item .carousel-caption {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
#index #index-services .carousel .carousel-inner .carousel-item .carousel-caption p {
  text-align: center;
}
#index #index-services .carousel .carousel-control-next,
#index #index-services .carousel .carousel-control-prev {
  width: 6rem;
}
#index #index-services .carousel .carousel-control-next .carousel-control-next-icon,
#index #index-services .carousel .carousel-control-next .carousel-control-prev-icon,
#index #index-services .carousel .carousel-control-prev .carousel-control-next-icon,
#index #index-services .carousel .carousel-control-prev .carousel-control-prev-icon {
  display: inline-block;
  background-color: rgba(30, 30, 30, 0.5);
  min-height: 4rem;
  min-width: 4rem;
  border-radius: 50%;
}
#index #faq .accordion-item .accordion-header .accordion-button {
  font-size: clamp(1.8rem, 1.6vw, 2.2rem);
}
#index #faq .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
#index #faq .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #094efe;
}
#index #faq .accordion-item .accordion-body {
  border-left: 4px solid #094efe;
}/*# sourceMappingURL=index.css.map */