@import "./variables";
#index {
  #hero {
    background-color: #ffa534;
    background: url("../img/hero-banner-new.webp");
    padding: 0;
    .container {
      .row {
        padding: 0;
        .col-12:first-of-type {
          > * {
            margin-bottom: 2rem;
          }
          :last-child {
            margin-bottom: 0rem;
          }
        }
        .col-12 {
          ul {
            columns: 2;
          }
          .card {
            text-align: center;
            padding: 1rem;
            border: none;
            p {
              color: #000;
              text-align: center;
              font-weight: 600;
              font-size: $h4-font-size;
            }
            .input-group {
              margin-top: 1rem;
              .input-group-text {
                background-color: #fff;
                color: $primary-color;
                border-radius: 0;
              }
              i {
                font-size: $p-font-size;
              }
              .form-control {
                font-size: $p-font-size;
                border-radius: 0;
              }
            }
            textarea {
              resize: none;
              height: 8rem;
            }
          }
        }
      }
    }
    .container-fluid {
      // background-color: $primary-color;
      background: url("../img/call-to-action.webp");
      background-size: cover;
      background-repeat: no-repeat;
      .row {
        .col {
          text-align: center;
          color: #fff;
          padding: 3rem 0;
          p {
            text-align: center;
          }
          .counter-numbers {
            font-size: $h2-font-size;
            font-weight: 600;
          }
        }
      }
    }
    @media screen and (max-width: 991px) {
      .container {
        ul {
          columns: 1;
        }
      }
    }
  }
  #why-us {
    .row:nth-of-type(2) {
      .col {
        text-align: center;
        display: flex;
        .card {
          i {
            color: $primary-color;
            font-size: $h2-font-size;
          }
          h3 {
            margin: 1rem 0;
          }
        }
      }
    }
  }
  .call-to-action {
    background: url("../img/4882066.jpg") 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    p {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  #about-us {
    p {
      margin-bottom: 1rem;
    }
  }
  #how-it-works-top {
    background-color: $primary-color;
    color: #fff;
    padding-bottom: 0;
  }
  #how-it-works-bottom {
    padding-top: 0;
    .nav-link {
      background-color: $primary-color;
    }

    .nav-tabs .nav-link.active {
      background-color: #fff;
      color: #000;
    }

    .nav-tabs .nav-link {
      color: #fff;
      border-radius: 0px;
    }
  }
  #testimonials {
    .row {
      .col {
        display: flex;
        .card {
          flex: content;
          .card-person {
            display: flex;
            align-items: center;
            .card-person-img {
              img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-right: 2rem;
              }
            }
            .card-person-info {
              h3 {
                font-weight: 500;
                font-size: $h6-font-size;
              }
              h4 {
                font-weight: 300;
                font-size: $h6-font-size;
                color: grey;
              }
              .card-person-info-ratings {
                color: #ffa534;
              }
            }
          }
          .card-quote {
            display: flex;
            justify-content: center;
            margin: 1rem 0;
            i {
              color: $secondary-color;
              margin: 0;
              font-size: $h3-font-size;
            }
            p {
              font-size: $h4-font-size;
            }
            .bi-quote:nth-of-type(2) {
              transform: scale(-1, -1);
            }
          }
        }
      }
    }
  }
  #index-services {
    text-align: center;
    .carousel {
      .carousel-inner {
        .carousel-item {
          .carousel-caption {
            background-color: rgb(255, 255, 255, 0.5);
            color: #000;
            p {
              text-align: center;
            }
          }
        }
      }
      .carousel-control-next,
      .carousel-control-prev {
        width: 6rem;

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
          display: inline-block;
          background-color: rgba(30, 30, 30, 0.5);
          min-height: 4rem;
          min-width: 4rem;
          border-radius: 50%;
        }
      }
    }
  }
  #faq {
    .accordion-item .accordion-header .accordion-button {
      font-size: $h4-font-size;
    }
  }
}
