@import "./variables";
#index {
  #hero {
    // display: flex;
    padding: 0;
    margin: 0;
    height: $hero-height;
    // background: linear-gradient(
    //   to bottom,
    //   #eeeff5 0%,
    //   #eeeff5 80%,
    //   $primary-color 80%,
    //   $primary-color 100%
    // );
    background: url("../img/hero-banner-new.webp");
    background-size: cover;
    > .container {
      height: 70vh;
      ul {
        columns: 2;
      }
      .card {
        text-align: center;
        padding: 1rem;
        padding-bottom: 0;
        border: none;
        p {
          color: #000;
          text-align: center;
          font-weight: 600;
          font-size: clamp(1.8rem, 1.5vw, 2.7rem);
        }
        .form-control {
          font-size: clamp(1.6rem, 1.5vw, 1.8rem);
          margin-top: 1rem;
          border-radius: 0;
        }
        textarea {
          resize: none;
        }
      }
    }
    .container-fluid {
      height: calc(100% - 70vh);
      background-color: $primary-color;
      .row {
        .col {
          text-align: center;
          color: #fff;
          p {
            text-align: center;
          }
        }
      }
    }
    @media screen and (max-width: 991px) {
      height: auto;

      > .container {
        height: auto;
        ul {
          columns: 1;
        }
      }
      .container-fluid {
        height: auto;
      }
    }
  }
  .call-to-action {
    // background-color: $secondary-color;
    background-image: url("../img/call-to-action.webp");
    text-align: center;

    p {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  #how-it-works-top {
    background-color: $primary-color;
    color: #fff;
    padding-bottom: 0;
  }
  #how-it-works-bottom {
    padding-top: 0;
    .nav-link {
      background-color: $primary-color;
    }

    .nav-tabs .nav-link.active {
      background-color: #fff;
      color: #000;
    }

    .nav-tabs .nav-link {
      color: #fff;
      border-radius: 0px;
    }
  }
  #testimonials {
    .card {
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 10rem;
        margin: 1.5rem 0;
      }
      h4 {
        color: grey;
        margin-bottom: 1rem;
      }
      i {
        color: #ffa534;
      }
      p {
        margin-top: 1rem;
      }
    }
  }
  #index-services {
    .card {
      position: relative;
      img {
        width: 200px;
      }
      text-align: center;
    }
  }
  #faq {
    .accordion-item .accordion-header .accordion-button {
      font-size: clamp(1.8rem, 1.5vw, 2.7rem);
    }
  }
}
