@import "./variables";
#other-pages {
  #banner {
    // background: url("../img/gradient-geometric-background_23-2148808998.webp");
    background: url("../img/services-new.png") 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    .card {
      text-align: center;
      padding: 1rem;
      padding-bottom: 0;
      border: none;
      p {
        color: #000;
        text-align: center;
        font-weight: 600;
        font-size: $h4-font-size;
      }
      .input-group {
        margin-top: 1rem;
        .input-group-text {
          background-color: #fff;
          color: $primary-color;
          border-radius: 0;
        }
        i {
          font-size: $p-font-size;
        }
        .form-control {
          font-size: $p-font-size;
          border-radius: 0;
        }
      }
      textarea {
        resize: none;
        height: 8rem;
      }
    }
  }
  #breadcrumbs {
    padding: 0;
  }
  #services {
    .row {
      align-items: center;
    }
  }
  #pricing {
    table {
      margin: 1.5rem 0;
    }
  }
  #anzsco-code {
    table {
      thead {
        font-size: $h4-font-size;
      }
      tbody {
        font-size: $p-font-size;
      }
    }
  }
  // #contact-us {
  // }
}
